{% extends 'ebigay/navbar.html' %} {% block content %} {% load static %}
<style>
  .card {
    width: fit-content;
    background-color: rgb(231, 241, 250);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 2.5% 2.5% 2.5% 2.5%;
  }
  h1 {
    margin-top: 2.5%;
    text-decoration: underline;
    text-decoration-color: #eab676;
  }
  .table-custom {
    background-color: #eab676;
  }
</style>
<center>
  <div class="card card-body">
    <h1>Drop-off List</h1>
    <table
      class="table table-borderless align-middle"
      style="width: fit-content"
    >
      <thead class="table-custom">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Address 1</th>
          <th scope="col">Address 2</th>
          <th scope="col">City</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        {% for p in people %}
        <tr>
          <td>
            <img
              src="{{p.ayudaapplicant.personid.url}}"
              style="width: 2in; height: 2in"
            />
          </td>
          <td>{{p.ayudaapplicant.name}}</td>
          <td>{{p.ayudaapplicant.street1}}</td>
          <td>{{p.ayudaapplicant.street2}}</td>
          <td>{{p.ayudaapplicant.city}}</td>
          <td>
            <button
              class="btn btn-outline-danger"
              data-bs-toggle="modal"
              data-bs-target="#delete_{{p.ayudaapplicant.id}}"
            >
              delete
            </button>

            <div
              class="modal fade"
              id="delete_{{p.ayudaapplicant.id}}"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5
                      class="modal-title"
                      id="exampleModalLabel"
                      style="color: black"
                    >
                      Delete Confirmation
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body text-start" style="color: black">
                    Are you sure you want to delete "{{p.ayudaapplicant.name}}"
                    from delivery list?
                  </div>
                  <div class="modal-footer">
                    <a
                      href="{% url 'dropoff-list-delete' p.ayudaapplicant.id %}"
                      type="button"
                      class="btn btn-outline-warning"
                    >
                      <i class="fas fa-minus-circle"></i>
                      Delete
                    </a>

                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      data-bs-dismiss="modal"
                    >
                      <i class="fas fa-ban"></i>
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</center>

{% endblock %}
