{% extends 'ebigay/navbar.html' %} {% block content %}
<style>
  .card {
    width: fit-content;
    background-color: rgb(231, 241, 250);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }
  .col {
    text-align: left;
    margin-bottom: 5%;
  }
  .btn-custom {
    background-color: #eab676;
    padding-top: 5%;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #eab676;
  }
</style>

<form action="" method="post">
  {% csrf_token %}
  <center>
    <div class="card">
      <div class="card-body">
        <h3 style="margin-bottom: 10%">Login to E-BIGAY</h3>
        <div class="row">
          <div class="col">
            <input
              type="text"
              name="username"
              class="form-control"
              id="floatingInput"
              placeholder="Enter Username"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="password"
              name="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Enter Password"
              required
            />
          </div>
        </div>
        <div class="col">
          <button class="btn btn-custom" type="submit">Sign In</button>
        </div>

        {% for message in messages %} {% if message.tags == 'success' %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
          style="width: fit-content"
        >
          <strong>Success!</strong> {{message | striptags}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% else %}
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
          style="width: fit-content"
        >
          <strong>Error!</strong> {{message | striptags}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endif %} {% endfor %}
        <div class="col" style="margin-top: 5%">
          Not registered yet?
          <a href="{% url 'register-account' %}"
            ><div class="btn btn-custom">Register Here</div></a
          >
        </div>
      </div>
    </div>
  </center>
</form>

{% endblock %}
