{% load static %} {% load auth_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Bigay</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Baloo Tammudu 2";
        background-color: rgb(197, 197, 197);
      }
      nav {
        font-size: large;
      }
      #noHover:hover {
        background-color: transparent;
      }
      .bg-custom{
        background-color: #eab676;
      }
    </style>
    <script>
      function initMap() {
        const loc = { lat: 14.681805, lng: 121.0300223 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 15,
          center: loc,
        });
        const marker = new google.maps.Marker({
          position: loc,
          map: map,
        });
      }
    </script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #eab676"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'homepage'%}"
          ><img
            src="{% static 'ebigay/images/icon.png' %}"
            alt="E-Bigay Icon"
            style="width: 50px; margin-left: 150px"
          />
          E-BIGAY
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" style="margin-left: 200px">
              <a
                class="nav-link"
                aria-current="page"
                href="{% url 'mission-vision' %}"
                >Mission and Vision</a
              >
            </li>
            <li class="nav-item" style="margin-left: 50px">
              <a class="nav-link" href="{% url 'story' %}">Our story</a>
            </li>
            <li class="nav-item" style="margin-left: 50px">
              <a class="nav-link" href="{% url 'volounteer' %}"
                >Be a volounteer</a
              >
            </li>
            <li class="nav-item dropdown" style="margin-left: 250px">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Services
              </a>
              {% if request.user.is_authenticated %}
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <div class="dropdown-item" id="noHover">
                    Hello {{request.user.username}}!
                  </div>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'donate' %}">Donate</a>
                </li>
                {% if request.user|has_group:"Driver" %}
                <li>
                  <a class="dropdown-item" href="{% url 'dropoff-list' %}"
                    >Dropoff List</a
                  >
                </li>
                {% endif %} {% if request.user|has_group:"AyudaApplicantGroup"%}
                <li>
                  <a class="dropdown-item" href="{% url 'ayuda-schedule' %}"
                    >Check Delivery Status</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'ayuda-list-delete' %}"
                    >Cancel Ayuda Subscription</a
                  >
                </li>
                {% endif %} {% if request.user.is_superuser %}
                <li>
                  <a class="dropdown-item" href="{% url 'ayudadropoff' %}"
                    >Ayuda Dropoff</a
                  >
                </li>
                {% endif %}
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </li>
                {% if not request.user|has_group:"AyudaApplicantGroup" %}
                <li>
                  <a class="dropdown-item" href="{% url 'register-ayuda' %}"
                    >Register for ayuda</a
                  >
                </li>
                {% endif %}
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="{% url 'terms-of-service' %}"
                    >Terms of service</a
                  >
                </li>
              </ul>
              {% else %}
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'donate' %}">Donate</a>
                </li>
                <li>
                  <a href="{% url 'login' %}" class="dropdown-item">Login</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'register-account' %}"
                    >Register an account</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="{% url 'terms-of-service' %}"
                    >Terms of service</a
                  >
                </li>
              </ul>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
    <!-- <footer class="footer mt-auto py-3 bg-custom">
      <div class="container">
        <span class="text-muted">Muted text.</span>
      </div>
    </footer> -->
  </body>
</html>
