{% extends 'ebigay/navbar.html' %} {% load static %} {% block content %}
<style>
  .card {
    width: fit-content;
    background-color: rgb(231, 241, 250);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }
  .row {
    margin-bottom: 5%;
  }
  .col {
    text-align: left;
  }
  .btn-custom {
    background-color: #eab676;
    padding-top: 2.5%;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #eab676;
  }
</style>

<form action="" method="post" id="reg-form">
  {% csrf_token %}
  <center>
    <div class="card">
      <div class="card-body">
        <h3>JOIN US!</h3>
        <h3 style="margin-bottom: 5%">E-BIGAY MO NA YAN!</h3>
        <div class="row">
          <div class="col">{{form.first_name}}</div>
          <div class="col">{{form.last_name}}</div>
        </div>
        <div class="row">
          <div class="col first-row">{{form.username}}</div>
          <div class="col second-row">{{form.email}}</div>
        </div>
        <div class="row">
          <div class="col first-row reg-pass">{{form.password1}}</div>
        </div>
        <div class="row">
          <div class="col first-row reg-pass">{{form.password2}}</div>
        </div>
        {% if form.errors %} {% for key, value in form.errors.items %}
        <div
          class="alert alert-danger alert-dismissable fade show reg-error"
          role="alert"
          style="width: fit-content"
        >
          <strong>Error!</strong> {{value|striptags}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %} {% endif %}
        <div class="first-row" style="text-align: left">
          <label
            >Have an account?<a href="{% url 'login' %}"> Login </a
            >instead</label
          >
          <br />
          <input
            type="checkbox"
            id="terms_and_conditions"
            value="1"
            onclick="terms_changed(this)"
          />
          <label for="terms_and_conditions">
            I agree to the <a href="#">Terms of Service </a></label
          >
          <div>
            <button
              class="btn btn-custom"
              type="submit"
              id="submit_button"
              disabled
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </center>
</form>

<script>
  function terms_changed(termsCheckBox) {
    //If the checkbox has been checked
    if (termsCheckBox.checked) {
      //Set the disabled property to FALSE and enable the button.
      document.getElementById("submit_button").disabled = false;
    } else {
      //Otherwise, disable the submit button.
      document.getElementById("submit_button").disabled = true;
    }
  }
</script>

{% endblock %}
