{% extends 'ebigay/navbar.html' %} {% block content %} {% load static %}
<style>
  .card {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: transparent;
    background-color: rgb(150, 59, 59);
    color: aliceblue;
  }
  h3 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  h1 {
    margin-top: 5%;
    text-decoration: underline;
    text-decoration-color: #eab676;
  }
</style>

<center>
  <div class="card">
    <div class="card-body">
      <h1><i class="fas fa-books"></i> Our Story:</h1>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        porttitor nunc vel volutpat hendrerit. Ut semper viverra leo, maximus
        tristique nibh rutrum at. Vestibulum mollis ac nulla id imperdiet. Nulla
        facilisi. Duis vitae luctus metus. Aenean vitae neque aliquam, commodo
        risus in, consequat tortor. Praesent nisl libero, condimentum a sapien
        varius, posuere semper lorem. Vivamus quis sapien laoreet, faucibus diam
        ultrices, accumsan sapien. Praesent ac purus bibendum, vulputate eros
        at, dignissim orci. Duis in mi lacinia, tincidunt mauris vitae, euismod
        turpis. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.
      </h3>
    </div>
  </div>
</center>

{% endblock %}
