{% extends 'ebigay/navbar.html' %} {% block content %} {% load static %}
<style>
  .card {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: transparent;
    background-color: rgb(150, 59, 59);
    color: aliceblue;
    padding: 2.5% 2.5% 2.5% 2.5%;
  }
  h1 {
    margin-top: 2.5%;
    text-decoration: underline;
    text-decoration-color: #eab676;
  }
</style>

<center>
  <div class="card">
    <div class="card-body">
      <h1><i class="fas fa-books"></i> Our Story:</h1>
      <h3>
        <p style="text-align: justify; text-indent: .5in;">With the covid pandemic driving Filipinos out of the workforce,
          a lot of families have lost the ability to put food on the table.
          Coupled with government negligence, community pantries were set
          up across different regions in the Philippines, as a sign of
          camaraderie, patriotism, what the Filipino
          masses are capable of. </p>
        <p style="text-align: justify; margin-top: .2in; text-indent: .5in;">
          We at E-bigay have noticed a significant problem with the setup
          of a crude stand flocked by hundreds of people at a time amidst
          a pandemic. As such, we have started the initiative to digitalize 
          the 'lining up' and claiming of ayuda, not aiming to fully replace
          the concept of a traditional community pantry, rather to lessen 
          the load, and give people the peace of mind of not having to risk
          catching covid, just to have food put on their tables.
        </p>
      </h3>
    </div>
  </div>
</center>

{% endblock %}
