{% extends 'ebigay/navbar.html' %} {% block content %} {% load static %}
<style>
  .card {
    width: fit-content;
    background-color: #3b9677;
    margin-left: 10%;
    padding: 5% 5% 5% 5%;
    color: aliceblue;
    text-align: justify;
    text-indent: 10%;
  }
  h1 {
    margin-top: 5%;
    margin-left: 15%;
  }
  hr {
    margin-bottom: 5%;
  }
  .right {
    width: 80%;
    background-color: #2b678f;
  }
</style>
<div class="row">
  <div class="col">
    <h1>Terms and Conditions</h1>
    <div class="card card-body">
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </h5>
      <hr />
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </h5>
    </div>
  </div>
  <div class="col">
    <h1>Summary</h1>
    <div class="card card-body right">
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </h5>
      <hr />
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </h5>
    </div>
  </div>
</div>

{% endblock %}
